

body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.hover-feld:hover {
    color: rgb(31,170,115) !important;
}
.hover-feld:link {
    text-decoration: none;
}

.hover-feld:visited {
    text-decoration: none;
}

.hover-feld:active {
    text-decoration: none;
}

.hover-feld {
    font-size: 20px;
    text-decoration: none;
    color: white;
}



.nav-li {
    float: left;
    padding: 5%;
    text-align: center;
    background-color: #333333;
    width: auto;
    height: 50px;
}





.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}


.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.form-wrapper {
    width: 420px;
    padding: 15px;
    margin-top: 2%;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}




    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: rgb(31,182,115);
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
    }

        .form-wrapper button:hover {
            background: rgb(31,170,115);
        }

        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: rgb(31,170,115);
        }

        .form-wrapper button:before {
            content: '';
            position: absolute;
            border-width: 8px 8px 8px 0;
            border-style: solid solid solid none;
            border-color: transparent rgb(31,182,115) transparent;
            top: 12px;
            left: -6px;
        }

        .form-wrapper button:hover:before {
            border-right-color: rgb(31,170,115);
        }

        .form-wrapper button:focus:before {
            border-right-color: rgb(31,170,115);
        }

        .form-wrapper button::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    .form-wrapper input {
        width: 330px;
        height: 40px;
        padding: 10px 5px;
        float: left;
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }


        .form-wrapper input:focus {
            outline: 0;
            background: #fff;
            -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        }

        .form-wrapper input::-webkit-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .form-wrapper input:-moz-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .form-wrapper input:-ms-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

body {
    font-family: 'Raleway', sans-serif;
}

.search-text {
    padding-bottom: 60px;
}

    .search-text .input-search {
        height: 45px;
        width: 40%;
        padding-left: 20px;
        color: #333;
    }

    .search-text .btn-search {
        background: #545454;
        font-family: Roboto;
        border: none;
        color: #FFF;
        height: 45px;
        width: 80px;
    }

    .search-text h4 {
        color: #888582;
        font-weight: 700;
    }

footer {
    background-color: #222222;
    padding: 60px 0px;
}

    footer ul {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding-top: 50px;
    }

        footer ul li {
            float: left;
        }

            footer ul li a {
                color: #b1aca1;
                padding: 20px;
            }

                footer ul li a:hover {
                    color: rgb(31,182,115);
                    text-decoration: none;
                }

.footer-top {
    padding-bottom: 50px;
}

    .footer-top .fa {
        font-size: 18px;
        color: #FFF;
        padding-right: 10px;
    }

    .footer-top a {
        color: #FFF;
        background: #333333;
        padding: 10px;
    }

    .footer-top .col-lg-2:hover .fa, .footer-top .col-lg-2:hover a {
        color: rgb(31,182,115);
        text-decoration: none;
    }

.copyright {
    background-color: #f0f0f0;
}

    .copyright p {
        font-size: 12px;
        padding: 15px 0 10px 0;
    }

#top {
    color: #fff;
    background: rgb(31,182,115);
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    right: 30px;
    position: fixed;
    border-radius: 3px;
    text-align: center;
    bottom: 350px;
}


/*  Footer 2 */

.footer-top2 a {
    display: block;
    color: #FFF;
    background: #333333;
    border-radius: 72px;
    height: 100px;
    width: 100px;
    padding: 43px 0px;
}


.footer-top2 {
    padding-bottom: 50px;
}

    .footer-top2 .fa {
        font-size: 18px;
        color: #FFF;
        padding-right: 10px;
    }

.footer-top a {
    color: #FFF;
    background: #333333;
    padding: 10px;
}

.footer-top2 .col-lg-2:hover a {
    color: #FFF;
    text-decoration: none;
    background: rgb(31,182,115);
    transition: all 2s ease-in-out;
}

/*  Footer 2 End */


/*  Footer 3 */

.footer-top3 .fa {
    background: #333333;
    color: #FFF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 5px;
}

    .footer-top3 .fa:hover {
        color: #FFF;
        background: rgb(31,182,115);
        transition: all 2s ease-in-out;
    }

.footer-top3 a {
    color: #FFF;
    text-decoration: none;
}

/*  Footer 3 End */

.OfferElement:hover {
    background-color: #f0f0f0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');





.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #333333;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ourA {
    color: #333333;
    text-decoration: none;
    letter-spacing: 1px;
}





#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    #button-2 a {
        position: relative;
        transition: all .35s ease-Out;
    }

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #333333;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-2:hover #slide {
    left: 0;
}

#button-2:hover a {
    color: rgb(31,182,115);
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 2.2em;
    }

    #container {
        width: 50%;
    }
}

.shadow2 {
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75)
}


section.range-slider {
    position: relative;
    width: 300px;
    height: 50px;
    bottom:10px;
    float: left;
    text-align: center;
}

    section.range-slider input[type="range"] {
        pointer-events: none;
        position: absolute;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: 14px;
        background: #f1efef;
        box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
        -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
        overflow: hidden;
        left: 0;
        
        width: 300px;
        outline: none;
        height: 20px;
        margin: 0;
        padding: 0;
    }

        section.range-slider input[type="range"]::-webkit-slider-thumb {
            pointer-events: all;
            position: relative;
            z-index: 1;
            outline: 0;
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 14px;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413f41));
            /* android <= 2.2 */
            background-image: -webkit-linear-gradient(top, #dad8da 0, #413f41 100%);
            /* older mobile safari and android > 2.2 */
            background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
            /* W3C */
        }

        section.range-slider input[type="range"]::-moz-range-thumb {
            pointer-events: all;
            position: relative;
            z-index: 10;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 14px;
            background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
            /* W3C */
        }

        section.range-slider input[type="range"]::-ms-thumb {
            pointer-events: all;
            position: relative;
            z-index: 10;
            -ms-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 14px;
            border: 0;
            background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
            /* W3C */
        }

    section.range-slider input[type=range]::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba(0, 0, 0, 1);
        border: 0;
    }

    section.range-slider input[type=range]:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
    }

    section.range-slider input[type=range]::-moz-focus-outer {
        border: 0;
    }

.shka {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.mainImg {
    height: 350px;
    width: 500px;
}

.desc {
    margin-left: 7%;
    float: left;
    font-size: 13px;
    width: 46%
}

.mainsp {
    font-size: 20px;
}
@media screen and (max-width: 1295px) {
    .mainImg {
        height: 300px !important;
    }
    #shadow{
        height: 1000px !important;
    }
    .shka{
        font-size: 34px !important;
    }
}
@media screen and (max-width: 1127px) {
    .mainImg {
        height: 250px !important;
        width: 400px !important;
    }
    .desc {
        font-size: 12px !important;
    }
    .mainsp{
        font-size:17px !important;
    }
    #shadow {
        height: 800px !important;
    }
    #mainText {
        font-size: 40px !important;
    }
    .shka {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 991px) {
    .mainImg {
        height: 250px !important;
        width: 400px !important;
    }
    .desc {
        font-size: 11px !important;
    }
    .shka {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 945px) {
    .mainImg {
        height: 225px !important;
        width: 375px !important;
    }
    #shadow {
        height: 700px !important;
    }

}

@media screen and (max-width: 891px) {
    .mainImg {
        height: 225px !important;
        width: 375px !important;
    }
    .desc {
        font-size: 10px !important;
    }
    .shka {
        font-size: 28px !important;
    }
}
@media screen and (max-width: 860px) {
    .mainImg {
        height: 175px !important;
        width: 275px !important;
    }
    .desc {
        font-size: 8px !important;
    }
    #shadow {
        height: 600px !important;
    }
    #mainText {
        font-size: 30px !important;
    }
    .shka {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 661px) {
    .mainImg {
        height: 100px !important;
        width: 150px !important;
    }

    .desc {
        font-size: 5px !important;
    }
    #shadow {
        height: 500px !important;
    }
    .shka {
        font-size: 18px !important;
    }
}
.OffImg {
    height: 150px;
    width: 150px;
}
.inpuserach {
    width: 1000px !important;
    max-width: none;
}
@media screen and (max-width: 1200px) {
    .inpuserach {
        width: 800px !important;
    }
}

@media screen and (max-width: 994px) {
    .inpuserach {
        width: 580px !important;
    }
    .OffImg {
        height: 100px !important;
        width: 100px !important;
    }
}
@media screen and (max-width: 768px) {
    .inpuserach {
        width: 580px !important;
    }

}
@media screen and (max-width: 767px) {
    .inpuserach {
        width: 551px !important;
    }
}
@media screen and (max-width: 765px) {
    .inpuserach {
        width: 550px !important;
    }
}
@media screen and (max-width: 764px) {
    .inpuserach {
        width: 500px !important;
    }
}
@media screen and (max-width: 715px) {
    .inpuserach {
        width: 470px !important;
    }
}
@media screen and (max-width: 715px) {
    .inpuserach {
        width: 300px !important;
    }
}

@media screen and (max-width: 677px) {

    .OffImg {
        height: 70px !important;
        width: 70px !important;
    }
}

@media screen and (max-width: 480px) {

    .OffImg {
        height: 40px !important;
        width: 40px !important;
    }
}
 
