
@{
    ViewBag.Title = "Home Page";
}

<style>
    #mainText {
        text-shadow: /*lawngreen*/ black 0 0 3px;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 15%;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    #shadow {
        -webkit-box-shadow: 0px 5px 112px 0px black;
        -moz-box-shadow: 0px 5px 112px 0px black;
        box-shadow: 0px 5px 112px 0px black;
    }
</style>

<body style=" width:100%;   background-image: url(https://images.pexels.com/photos/3747145/pexels-photo-3747145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
        background-repeat: no-repeat;
        background-size:cover;
">
    <div id="mainText">
        КРОК У МАЙБУТНЄ РАЗОМ ІЗ
    </div>
    <div style="padding-top: 2%; font-size:85px;" id="mainText">
        OASIS
    </div>
    <div id="shadow" style="margin-top: 13%; width:100%; height:1100px; padding:1%; background-color: white; text-align:center;">

        <h1 style=" font-family: 'Raleway', sans-serif; padding-top: 2%; font-weight: bold;">Про нас</h1>
        <div style="padding: 2%; width: 100%; font-family: 'Raleway', sans-serif;">
            <div style="float:left; width:46%;">
                <img style="height: 350px; width:500px;" src="https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
            </div>
            <div style="margin-left:7%; float:left; font-size:13px; width:46%">
                <p>

                    <span style="font-size: 20px;">
                        <span style="font-weight:bold">OASIS</span> це :<br /><br /><br />
                    </span>
                    • 5 РОКІВ ДОПОМОГИ ЮЗЕРАМ ЗНАЙТИ РОБОТУ ЇНЬОЇ МРІЇ<br /><br />
                    • МАКСИМАЛЬНО ПРОСТИЙ І ЗРУЧНИЙ САЙТ<br /><br />
                    • РОЗГЛЯД ЗАЯВОК ТА ПЕРЕАДРЕСАЦІЯ ЇХ ДО РОБОТОДАВЦІВ ЗА ЛІЧЕНІ ХВИЛИНИ<br /><br />
                    • ГАРАНТІЯ ЯКОСТІ ДЛЯ РОБОТИ З ПОЗНАЧКОЮ "✓"<br /><br />
                    • ОПЕРАТИВНА СЛУЖБА ПІДТРИМКИ<br /><br />
                    • КРАЩИЙ СПОСІБ ЗНАЙТИ РОБІТНИКІВ В КОРОТКІ СРОКИ<br /><br />
                </p>
            </div>
        </div>

        <h1 style="font-family: 'Raleway', sans-serif; padding-top:25%;  font-weight:bold;">Що ми пропонуємо?</h1>
        <div style="padding: 2%; width: 100%;font-family: 'Raleway', sans-serif;">
            <div style="float:left; margin-right:7%; font-size:13px; width:45%">
                <p>
                    <br /><br /><br />
                    • ПОШУК РОБОТИ ПО ВСІЙ УКРАЇНІ<br /><br /><br /><br />
                    • БАГАТО РІНЗНОВИДІВ РОБОТИ В РІЗНИХ СФЕРАХ<br /><br /><br /><br />
                    • РОБОТУ ДЛЯ СТУДЕНТІВ<br /><br /><br /><br />
                    • БЕСПЛАТНІ МІСЦЯ ДЛЯ ВИСТАВЛЕННЯ СВОЄЇ РОБОТИ<br /><br /><br /><br />
                </p>
            </div>
            <div style="float:left; width:45%;">
                <img style="height: 350px; width:500px;" src="https://images.pexels.com/photos/3775157/pexels-photo-3775157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
            </div>

        </div>

    </div>
</body>
